*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #faeada;
  color: #7d5160;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1000px;
  margin: auto;
}

footer {
  height: 100px;
  padding: auto;
  display: flex;
}

footer .info {
  margin: auto;
}

ul,
li {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.logo {
  height: 24px;
  width: 24px;
  margin: 0 4px;
}

.filters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
  max-width: 100%;
}

.filter-container {
  margin: 4px;
  padding: 4px;
  border: solid 1px hsl(30, 76%, 92%);
  border-radius: 8px;
  word-wrap: normal;
  max-width: 300px;
  display: flex;
  align-items: flex-start;
}

.filter-container:hover {
  cursor: pointer;
  background-color: #f08188;
  border-color: #f08188;
  color: #faeada;
}

.multi-filter-container {
  display: flex;
  margin: auto;
  width: 90%;
}

.multi-filter__label {
  align-items: center;
  display: flex;
}

.multi-filter-container .select2-container {
  flex-grow: 1;
  margin-left: 8px;
  width: 100%;
}

.multi-filter__button {
  margin-left: 8px;
}

.multi-filter-container .select2-container .select2-selection {
  border-radius: 5px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.category {
  border: solid 2px #7d5160;
  border-radius: 5px;
  margin: 12px auto;
  text-align: center;
  width: 300px;
}

.category-title {
  background-color: #7d5160;
  color: #faeada;
  display: flex;
  height: 64px;
  padding: 12px;
}

.category-title strong {
  margin: auto;
}

.mentor {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

.status {
  align-items: center;
  color: #f08188;
  display: flex;
  font-size: x-small;
  vertical-align: middle;
}

.status strong {
  margin: auto;
}

.mentor:nth-child(2n) {
  background-color: #fff7f7;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.logo:hover {
  transform: scale(1.2);
}

.calendly[disabled="disabled"] {
  pointer-events: none;
  cursor: not-allowed;
}

.calendly[disabled="disabled"] > .logo {
  opacity: 0.5;
}
